<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="https://static.vecteezy.com/system/resources/thumbnails/001/849/553/small_2x/modern-gold-background-free-vector.jpg" alt=""></ng-template>
    <ng-template carouselSlide>Slide 2</ng-template>
    <ng-template carouselSlide>Slide 3</ng-template>
    <ng-template carouselSlide>Slide 4</ng-template>
    <ng-template carouselSlide>Slide 5</ng-template>
    <ng-template carouselSlide>Slide 6</ng-template>
</owl-carousel-o>