.titulo {
    background-color: #032541;
    color           : white;
    padding         : 10px;
    height          : 80px;


}


.logo {
    img {
        // padding: 20px;
        width     : 200px;
        margin-top: 14px;
    }
}

.menu {
    display: flex;
    color  : white;

    button {
        color      : white;
        margin-left: 10px;
        margin-top : 12px;
        padding    : 5px;
        font-weight: 800;
    }
}


.sinopse {
    display            : block;
    height             : 490px;
    background-image   : url('https://image.tmdb.org/t/p/w300_and_h450_bestv2/c55sXCaQBj3vuHqZe62tv90xCQS.jpg%201x,%20https://media.themoviedb.org/t/p/w600_and_h900_bestv2/c55sXCaQBj3vuHqZe62tv90xCQS.jpg%202x');
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
}

.submenu {
    height          : 35px;
    display         : flex;
    justify-content : center;
    background-color: #5CC5BA;

    button.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base {
        color: white;
    }
}

.classificacao {
    margin-left  : 28px;
    margin-top   : -20px;
    color        : white;
    border       : 2px solid white;
    padding      : 4px 8px;
    display      : inline-block;
    border-radius: 4px;
    height       : min-content;
}

.btn1.mdc-fab.mat-mdc-fab.mat-accent.mat-mdc-button-base {
    background : #88CDA5;
    color      : #032541;
    margin-left: 10px;
    height     : 46px;
    width      : 46px;
    filter: drop-shadow(0 0 2px white);
}

.btn2.mdc-fab.mat-mdc-fab.mat-accent.mat-mdc-button-base {
    background : #5CC5BA;
    color      : #032541;
    margin-left: 10px;
    height     : 46px;
    width      : 46px;
    filter: drop-shadow(0 0 2px white);

}

.btn3.mdc-fab.mat-mdc-fab.mat-accent.mat-mdc-button-base {
    background : #06B4E1;
    color      : #032541;
    margin-left: 10px;
    height     : 46px;
    width      : 46px;
    filter: drop-shadow(0 0 2px white);

}

.button_Fab {
    display: flex;
    margin : 20px;
}

.titulo_Sinopse {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 34px;
    letter-spacing: 3px;
}

.sinopse_Descricao {
    color:white;
    font-size: 20px;
    font-weight:400;
    margin-left: 34px;
    letter-spacing: 1px;
    line-height: 25px;
}